@import '../../style.scss';

.direct-messages-window {
  display: flex;
  flex: 1;
  // height: 100vh;
  // width: ;

  .users-list {
    flex: 1;
    // flex-grow: 1;
  }

  .sidebar-title {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .05em;
    color: $sidebar-text-icons;
    text-align: left;
    padding-left: .5rem;
    margin-bottom: .5rem;
    cursor: default;
  }

  .sidebar-title:hover {
    color: white;
  }
}