.direct-messages-window {
  display: flex;
  flex: 1;
  // height: 100vh;
  // width: ;

  .users-list {
    flex: 1;
    // flex-grow: 1;
  }

  .direct-to-friends-window {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    column-gap: 1em;
    color: $sidebar-text-icons;
    margin: 1em 0;
    
    div {
      font-size: 1.5em;
    }
  
  }

  .direct-to-friends-window:hover {
    background-color: $lightest-grey;
  }

  .sidebar-title {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .05em;
    color: $sidebar-text-icons;
    text-align: left;
    padding-left: .5rem;
    margin-bottom: .5rem;
    cursor: default;
  }

  .sidebar-title:hover {
    color: white;
  }
}