// ////////////// list item //////////////
.list-item {
  display: flex;
  padding: .6em .5em;
  align-items: center;
  justify-content: left;
  border-radius: .4rem;
  cursor: pointer;
  color: $text;
  font-size: 1rem;
  margin-bottom: .2rem;

  .title {
    font-size: 1.5em;
    padding-left: .5em;
    font-weight: 400;
  }
}

.list-item:hover {
  background-color: #34373c;
  font-weight: 700;
}

.list-item.active {
  background-color: $lightest-grey;
  font-weight: 700;
}

.thin {
  padding: .5em .5em;
}

.list-title {
  padding-left: .5rem;
}

.list-title:hover {
  color: white;
}

.list-title.thick { 
  font-weight: 700;
}

.list-title.thick:hover { 
  color: $sidebar-text-icons;
}

// /////////// END list item ////////// //

// ////////////// MODAL /////////////// //
.modal-cover-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  background-color: #000000;
  opacity: .9;
  z-index: 10;
}

.modal {
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #36393F; // primary color
  display: flex;
  flex-direction: column;
  max-width: 90%;
  width: 35rem;
  border-radius: .4rem;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  h2 {
    text-align: center;
    padding: 0;
    color: white;
    margin: 0;
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  h3 {
    margin: .7em;
    color: #D1DDDE; // $text 
    font-size: 1.15rem;
  }
  form {
    display: flex;
    flex-direction: column;
  
    label {
        text-align: left;
        font-weight: 700;
        letter-spacing: .05em;
        text-transform: uppercase;
        color: #D1DDDE; // $text 
        font-family: 'Mukta', sans-serif;
        padding: .5em 0;
      }
      input {
        height: 3em;
        border-radius: .2em;
        background-color: #303339;
        border: 1px solid #222428;
        margin-bottom: .5em;
      }
      
      label.error {
        color: #f30909;
      }
      
      label.error + input {
        border: 1px solid #f30909;
      }
      label > span {
        display: none;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
      }
      label.error > span {
        display: inline;
      }
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
      background-color: #303339 !important;
      border: 1px solid #222428 !important;
      color: #f30909 !important;
  
    }
  
    input[type=submit] {
      background-color: #5865F2;
      border: none;
      color: white;
      font-weight: 700;
      letter-spacing: .08em;
      text-transform: capitalize;
      @keyframes hoverButtons {
        from {background-color: #5865F2;}
        to {background-color: #4752C4;}
      }
    }
    input[type=submit]:hover {
      animation-name: hoverButtons;
      animation-duration: 0.5s;
      background-color: #4752C4;
    }
  }

  .buttons {
    background-color: #222428;
    position: absolute;
    left: 0;
    bottom: -5rem;
    height: 5.5rem;
    width: 100%;
    border-radius: 0 0 .4rem .4rem;   
    // padding: 1.5rem 1rem 1rem; 
    padding: 1.2rem;
    justify-content: flex-end;
  }
}




// /////////// END MODAL ///////////// //

// /////////// STATUS ICON /////////// //
.icon-backgound {
  height: 17px;
  width: 17px;
  border-radius: 7px;
  background-color: #2F3136;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 11px;
  height: 11px;
  border-radius: 6px;
}
.idle {
  position: relative;
  bottom: 3px;
  right: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-shadow: 3px 3px 0 0 rgb(231, 117, 41);
}

.online {
  background-color: $green;
}

.notDisturb {
  background-color: $red;
}


.offline {
  font-size: 1.5em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.2em solid $sidebar-text-icons;
  position: relative;
  border-radius: 0.35em;
}

.magnifying-glass {
  font-size: 1.5em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  // border: 0.2em solid $red;
  background-color: $red;
  // border-top: 0.2em solid $red;
  position: relative;
  border-radius: 0.35em;
}
// .magnifying-glass:before {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   right: -0.25em;
//   bottom: -0.1em;
//   border-width: 0;
//   background: red;
//   width: 0.35em;
//   height: 0.08em;
//   transform: rotate(45deg);
// }