@import '../../style.scss';

.channels-bar {
  height: 100vh;
  width: 80px;
  background-color: $darkest-grey;
  background-color: yellowgreen;

  display: flex; 
  flex-direction: column;
  align-items: center;
}