.server-icon-container {
  display: flex;  
  flex-direction: row;
  justify-content: center;
}

.server-state {
  display: none;
  background-color: white;
  height: 10%;
  width: .2em;
}

.server-icon {
  margin-top: .5em;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 2em;

  img {
    width: 30px;
  }
}

.server-icon:hover {
  border-radius: .7em;

  .server-state {
    display: inline-block;

  }
}

.server-icon.active {
  border-radius: .7em;
}