@import '../../style.scss';

.message {

  span {
    font-size: 1.15rem;
    margin-left: .5rem;
    color: white;
  }

  .username {
    font-size: 1.4rem;
  }

  .date {
    font-size: .9rem;
    color: $text;
  }

  .message-content {
    display: block;
  }


}