@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mukta:wght@300&&family=Noto+Sans:wght@400;700&display=swap');

$darkest-grey: #202225;
// $secondry-color: #36393f;
// $primary-color: #393c42;
$lightest-grey: #40444b;


// backgournd colors
$secondry-color: #202225;
$sidebar: #2F3136;
$sidebar-hover: #393C43;
$sidebar-user-info: #292B2F;
$primary-color: #36393F;
$primary-color-hover: #32353B;
$chat-input: #40444B;

// colourful colors
$green: #3ba55d;
$blue: #5865f2;
$blue-disabled: #444c95;
$red: #ed4245;

// buttons colors
$home-button-dark: #23272A;

// text colors
$text: #D1DDDE;
$chat-name-display: #DEEBE2;
$chat-text-icons: #B9BBBE;
$sidebar-text-icons: #8E9297;

// fonts
$headline-font: 'Luckiest Guy', cursive;

$breakpoint-tablet: 1200px;

h1 {
  color: #FFFFFF;
  font-family: $headline-font;
  font-size: 1.6rem !important;
  line-height: 1.2em !important;
}

.bold-title {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 700;
  letter-spacing: .05em;
  color: $sidebar-text-icons;
  text-align: left;
  margin-bottom: .5rem;
  cursor: default;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primary-button {
  border-radius: .2em;
  background-color: #5865F2;
  padding: .5em 1em;
  border: none;
  color: white;
  letter-spacing: .08em;
  text-transform: capitalize;
  min-width: 7rem;
  cursor: pointer;
  @keyframes hoverButtons {
    from {background-color: #5865F2;}
    to {background-color: #4752C4;}
  }
}

.primary-button[type=submit]:disabled {
  background-color: $blue-disabled;
}

.primary-button:hover {
  animation-name: hoverButtons;
  animation-duration: 0.5s;
  background-color: #4752C4;
}

.off-button {
  color: #FFFFFF;
  font-weight: 400;
  cursor: pointer;
  padding: .5em 1.5em;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  background-color: $sidebar;
  border-radius: 2em;
  color: $text;
}
.action-button:hover {
  color: white;
}
.action-button.positive:hover {
  color: $green;
}
.action-button.negative:hover {
  color: $red;
}

// @import './pages/Home/Home.scss';
// @import './pages/login.scss';
@import './components/DirectMessages/DirectMessages.scss';
@import './components/ServerBar/ServerBar.scss';
@import './components/ServerIcon/ServerIcon.scss';  
@import './components/Sidebar/Sidebar.scss';
@import './components/ListItemUser/ListItemUser.scss';
@import './components/SidebarUserInfo/SidebarUserInfo.scss';
@import './components/PageHeader/PageHeader.scss';
@import './pages/Friends/Friends.scss';
@import './pages/Friends/PendingItemList/FriendItemList.scss';
@import './components/Chat/Chat.scss';
@import './components/MessageContainer/MessageContainer.scss';
@import './styles/listItem';
@import './Styles/settings';
@import './styles/profile';
@import './styles/utilities/colorPicker';
@import './styles/utilities/utilities';