@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mukta:wght@300&&family=Noto+Sans:wght@400;700&display=swap");
.direct-messages-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.direct-messages-window .users-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.direct-messages-window .direct-to-friends-window {
  margin: 1em 0;
}

.direct-messages-window .sidebar-title {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 500;
  letter-spacing: .05em;
  color: #8E9297;
  text-align: left;
  padding-left: .5rem;
  margin-bottom: .5rem;
  cursor: default;
}

.direct-messages-window .sidebar-title:hover {
  color: white;
}

.server-bar {
  height: 100vh;
  min-width: 5.2em;
  width: 5.2em;
  background-color: #202225;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.server-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.server-state {
  display: none;
  background-color: white;
  height: 10%;
  width: .2em;
}

.server-icon {
  margin-top: .5em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 2em;
}

.server-icon img {
  width: 30px;
}

.server-icon:hover {
  border-radius: .7em;
}

.server-icon:hover .server-state {
  display: inline-block;
}

.server-icon.active {
  border-radius: .7em;
}

.sidebar {
  width: 17em;
  padding: 0 .7em;
  height: 100vh;
  background-color: #2F3136;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar input {
  background-color: #202225;
  color: #D1DDDE;
  border: none;
  border-radius: .4em;
  font-size: .9em;
  height: 2.1rem;
  padding: .6em;
  width: 100%;
  margin: .6rem 0;
}

.list-item-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .6em .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border-radius: .4rem;
  cursor: pointer;
  color: #D1DDDE;
  font-size: .76em;
}

.list-item-user .user-name {
  font-size: 1.5em;
  padding-left: .5em;
  font-weight: 400;
}

.list-item-user:hover {
  background-color: #34373c;
  font-weight: 700;
}

.list-item-user.active {
  background-color: #40444b;
  font-weight: 700;
}

.sidebar-user-information {
  height: 3.5em;
  background-color: #292B2F;
  margin: 0 -.7em;
  padding: 0.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-user-information .user-information {
  text-align: left;
  color: #DEEBE2;
  margin-left: .5em;
}

.sidebar-user-information .display-name {
  font-weight: 600;
}

.sidebar-user-information .mini-sub {
  line-height: .8em;
  font-size: .8rem;
}

.header {
  height: 3.3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.3em;
}

.header .friends-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #40444B;
  padding-right: 1em;
}

.header .friends-header-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .6em;
          column-gap: .6em;
  height: 100%;
  float: left;
}

.header .friends-header-list li {
  margin: 0;
  padding: .3em 1em;
  color: #D1DDDE;
  cursor: pointer;
  border-radius: .3em;
  text-transform: capitalize;
}

.header .friends-header-list li:hover {
  background-color: #393C43;
}

.header .friends-header-list li.active {
  background-color: #40444b;
  color: white;
}

.header .friends-header-list .add-friend {
  background-color: #3ba55d;
  color: white;
}

.header .friends-header-list .add-friend:hover {
  background-color: #3ba55d;
}

.header .friends-header-list .add-friend.active {
  background-color: unset;
  color: #3ba55d;
}

.header .room-name {
  color: #DEEBE2;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 .5em;
}

.friends-page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  overflow: hidden;
}

.friends-page .friends-add-friend {
  position: relative;
  height: 100%;
}

.friends-page .friends-add-friend .add-friend-section {
  text-align: left;
  padding: 1em 2em;
}

.friends-page .friends-add-friend h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.friends-page .friends-add-friend p {
  margin: 1em 0;
  font-size: .9em;
  color: #8E9297;
  text-transform: capitalize;
}

.friends-page .friends-add-friend .friend-search {
  background-color: #2F3136;
  border-radius: .5em;
  border: 1px solid #202225;
  height: 4em;
  width: 100%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  margin-bottom: 1.5em;
}

.friends-page .friends-add-friend .friend-search input[type=text] {
  background-color: unset;
  border: none;
  color: #D1DDDE;
  padding: .5em;
}

.friends-page .friends-add-friend .friend-search input[type=submit] {
  background-color: #5865f2;
  padding: .5em;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: .3em;
}

.friends-page .friends-add-friend .friend-search input[type=submit]:disabled {
  background-color: #444c95;
}

.friends-page .friends-add-friend .friend-search.error {
  border: 1px solid #ed4245;
}

.friends-page .friends-add-friend .error-message {
  color: red;
  font-weight: 400;
  margin-top: 0;
  text-transform: unset;
}

.friends-page .friend-page-list {
  padding: 1em;
}

.friends-page .not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #8E9297;
}

.friends-page .not-found div {
  margin-top: 4em;
}

.friend-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
  padding: 1em;
  border-radius: .2em;
}

.friend-item-list .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  color: #D1DDDE;
  margin-left: 1em;
}

.friend-item-list .content .user-name {
  color: white;
  font-weight: 700;
}

.friend-item-list .content .user-name span {
  display: none;
  font-weight: 400;
  color: #D1DDDE;
}

.friend-item-list .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.8em;
}

.friend-item-list .actions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  width: 3em;
  background-color: #2F3136;
  border-radius: 2em;
  color: #D1DDDE;
}

.friend-item-list .actions div:hover {
  color: white;
}

.friend-item-list .actions div.positive:hover {
  color: #3ba55d;
}

.friend-item-list .actions div.negative:hover {
  color: #ed4245;
}

.friend-item-list:hover {
  background-color: #40444b;
}

.friend-item-list:hover .user-name span {
  display: inline;
}

.friend-item-list:hover .actions div {
  background-color: #202225;
}

.chat-window {
  height: 100vh;
  background-color: #36393F;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-window .chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

.chat-window .input-box {
  background-color: #40444B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .5em 1em 1.8em;
  height: 3.5em;
  border-radius: .5em;
}

.chat-window .input-box .add-media {
  padding: 0 1em;
  cursor: pointer;
  color: #B9BBBE;
}

.chat-window .input-box input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  line-height: .8em;
}

.chat-window .input-box .stickers-and-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B9BBBE;
  width: 9em;
  margin-right: 1em;
  -webkit-column-gap: .2em;
          column-gap: .2em;
}

.message .message-container {
  padding: .3em .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4.3em auto;
      grid-template-columns: 4.3em auto;
}

.message .message-sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.message .avatar {
  margin: 1.475em auto 0;
}

.message span {
  font-size: 1.15rem;
  margin-left: .5rem;
}

.message .message-container-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message .username {
  font-size: 1.3rem;
  display: inline-block;
  color: #DEEBE2;
  padding-bottom: .3em;
  margin-top: 1em;
}

.message .date {
  font-size: .9rem;
  color: #B9BBBE;
}

.message-content {
  margin: 0;
  color: #D1DDDE;
  text-align: left;
}

.message:hover, .secondary:hover {
  background-color: #32353B;
}

.visbale-hover {
  opacity: 0;
}

.message:hover .visbale-hover {
  opacity: 1;
}

.message:last-child {
  scroll-snap-align: end;
}
/*# sourceMappingURL=style.css.map */