@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mukta:wght@300&&family=Noto+Sans:wght@400;700&display=swap');

$darkest-grey: #202225;
// $secondry-color: #36393f;
// $primary-color: #393c42;
$lightest-grey: #40444b;


// backgournd colors
$secondry-color: #202225;
$sidebar: #2F3136;
$sidebar-hover: #393C43;
$sidebar-user-info: #292B2F;
$primary-color: #36393F;
$primary-color-hover: #32353B;
$chat-input: #40444B;

// colourful colors
$green: #3ba55d;
$blue: #5865f2;
$blue-disabled: #444c95;
$red: #ed4245;

// buttons colors
$home-button-dark: #23272A;

// text colors
$text: #D1DDDE;
$chat-name-display: #DEEBE2;
$chat-text-icons: #B9BBBE;
$sidebar-text-icons: #8E9297;

// fonts
$headline-font: 'Luckiest Guy', cursive;

// @import './pages/Home/Home.scss';
// @import './pages/login.scss';
@import './components/DirectMessages/DirectMessages.scss';
@import './components/ServerBar/ServerBar.scss';
@import './components/ServerIcon/ServerIcon.scss';  
@import './components/Sidebar/Sidebar.scss';
@import './components/ListItemUser/ListItemUser.scss';
@import './components/SidebarUserInfo/SidebarUserInfo.scss';
@import './components/PageHeader/PageHeader.scss';
@import './pages/Friends/Friends.scss';
@import './pages/Friends/FriendItemList/FriendItemList.scss';
@import './components/Chat/Chat.scss';
@import './components/MessageContainer/MessageContainer.scss';